extends ../../layouts/ui-layout.pug
mixin form-elements__element(props)
  - const {}
  .form-elements__header
    .form-elements__title=title
    .form-elements__state=title
  block

block meta
  title Form Elements

block content
  .form-elements
