ul
  li
    a(href="colors-type.html") Colors Type 
  li
    a(href="form-elements.html") Form elements
  li
    a(href="headers-footers.html") Headers and Footers
  li
    a(href="cards.html") Cards 
  li
    a(href="details.html") Details
  li
    a(href="registration.html") Registration 
  li
    a(href="searc.html") Search 
  li
    a(href="sign-in.html") Sign-in 
