@import '~scss/variables.scss';
@import '~scss/mixins.scss';

.footer {
  position: relative;
  font-size: rem(14);
  color: $dark75;
  background: $white;
  &:before {
    content: '';
    position: absolute;
    width: 100vw;
    top: 0;
    bottom: 0;
    margin-left: calc(((100vw - 100%) / 2) * -1);
    background: $white;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    z-index: -1;
  }
  &__container {
    padding-top: 120px;
    display: flex;

    @include media-up($md) {
      padding: 100px 0;
    }
  }
  &__logo {
    margin: 0 auto;
    text-align: center;

    @include media-up($md) {
      text-align: left;
      margin: 0;
      flex: 0 0 260px;
      width: 100%;
    }
  }
  &__description {
    display: none;

    @include media-up($md) {
      display: block;
      margin-top: 18px;
      line-height: rem(24);
    }
  }
  &__nav {
    display: none;
    @include media-up($xl) {
      flex-grow: 1;
      display: flex;
      justify-content: space-between;
      padding: 0 40px;
      align-items: stretch;
    }
  }
  &__list {
    flex: 0 0 160px;
    display: flex;
    flex-direction: column;
  }
  &__title {
    color: $dark;
    margin-top: 5px;
    margin-bottom: 21px;
    font-weight: bold;
    text-transform: uppercase;
    white-space: nowrap;
    font-size: rem(12);
  }
  &__link {
    margin-bottom: 20px;
    text-decoration: none;
    color: $dark50;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__subscribe {
    display: none;

    @include media-up($md) {
      display: block;
      margin-left: auto;
      flex: 0 0 260px;
      width: 100%;
    }
  }
  &__subscribe-text {
    display: none;
    display: block;
    line-height: rem(24);
    margin-top: -3px;
    margin-bottom: 22px;
  }
  &__copyright {
    position: relative;
    display: flex;
    align-items: center;
    padding-bottom: 120px;
    flex-direction: column;

    @include media-up($md) {
      padding: 0;
      min-height: 70px;
      flex-direction: row;
    }
    &:before {
      content: '';
      top: 0;
      position: absolute;
      width: 100vw;
      margin-left: calc(((100vw - 100%) / 2) * -1);

      @include media-up($md) {
        border-top: 1px solid #dfdfe4;
      }
    }
  }
  &__copyright-text {
    margin: 20px 0;
    text-align: center;

    @include media-up($md) {
      margin: 0;
      text-align: left;
    }
  }
  &__social {
    display: flex;
    align-items: center;
    background: $linear-gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: rem(24);
    @include media-up($md) {
      margin-left: auto;
    }
  }
  &__social-item {
    width: 24px;
    text-align: center;
    margin-left: 20px;
    &:first-child {
      margin-left: 0;
    }
  }
  &_uikit {
    max-width: calc(#{$md} - (#{$padding} * 2));
    width: 100%;
    margin: 0 auto;
    &:before {
      left: 0;
      max-width: $md;
      margin-left: -1 * $padding;
    }
    & .footer__container {
      @include media-up($md) {
        padding: 0;
        padding-top: 120px;
      }
    }
    & .footer__logo {
      @include media-up($md) {
        flex: none;
        width: unset;
        margin: 0 auto;
        text-align: center;
      }
    }

    & .footer__copyright-text {
      margin: 20px 0;
      text-align: center;
    }
    & .footer__copyright {
      min-height: unset;
      flex-direction: column;
      @include media-up($md) {
        padding-bottom: 120px;
      }
      &:before {
        @include media-up($md) {
          border-top: none;
        }
      }
    }
    & .footer__social {
      @include media-up($md) {
        margin-left: unset;
      }
    }

    & .footer__description,
    & .footer__subscribe,
    & .footer__nav {
      display: none;
    }
  }
}
