extends /layouts/ui-layout.pug
include /blocks/header/header.pug
include /blocks/footer/footer.pug

block variables
  - const bodyStyle = "background:#F4F4F6";

block content
  - const { header,footer } = require("./headers-footers.json");
  - const { menu, user } = header;

  .headers-footers
    .headers-footers__item
      +header(menu)
    .headers-footers__item
      +header(menu, "true", user)
    .headers-footers__item
      +footer(footer)
    .headers-footers__item
      
