mixin fonts
  -
    const fonts = [
      {name: "h1", text: "This one is the sub-section or widget title"},
      {name: "h2", text: "Next one is the item title inside widgets"},
      {name: "h3", text: "This is a label or CTA text"},
      {name: "body", text: "This is the body text which is used for most of the design, like paragraphs, lists, etc."}
    ]
  .fonts 
    each font in fonts
      - const { name, text } = font;
      .fonts__item(class=`fonts__item_${name}`)
        .fonts__name= name
        .fonts__text= text
