@import './variables.scss';
:root {
  box-sizing: border-box;
  font-family: 'OpenSans';
  font-weight: normal;
  font-style: normal;
  font-size: $rem;
}

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
