// Breakpoints
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;
$xxl: 1440px;

// Colors
$dark: #1F2041;
$dark75:rgba(31, 32, 65, .75);
$dark50:rgba(31, 32, 65, .5);
$dark25:rgba(31, 32, 65, .25);
$dark5:rgba(31, 32, 65, .05);
$purple:#BC9CFF;
$green:#6FCF97;


$padding: 20px;
$rem: 16px;
