$primary: #1f2041;
$primary-75: rgba($primary, 0.75);
$primary-50: rgba($primary, 0.5);
$primary-25: rgba($primary, 0.25);
$primary-10: rgba($primary, 0.1);
$primary-5: rgba($primary, 0.05);
$purple: #bc9cff;
$green: #6fcf97;
$white: #ffffff;
$black: #000000;
$gray: #f4f4f6;
